.featurette-heading {
  margin-top:1px;
}
.carousel-inner .item img{
  margin:0 auto; 
}  
.yt_code {
  font-family: Inconsolata;
  color: #FFFFFF;
}
div.yt_code {
  font-size: 140%;
  margin-bottom: 20px;
}
.yt-package {
  padding-bottom: 30px;
}
span.download_script {
  font-family: Inconsolata;
  color: #FFFFFF;
  font-size: 110%;
  margin-bottom: 10px;
  white-space:nowrap;
}

.gallery-image {
  height: auto;
  max-width: 400px;
  margin: 0 auto;
}
