
html {
  position: relative;
  min-height: 100%;
}
.featurette-heading {
  margin-top:1px;
}
.carousel-inner .item img{
  margin:0 auto; 
}  
.yt_code {
  font-family: Inconsolata;
  color: #000000;
}
div.yt_code {
  font-size: 140%;
  margin-bottom: 20px;
}
.yt-package {
  padding-bottom: 30px;
}
span.download_script {
  font-family: Inconsolata;
  color: #000000;
  font-size: 110%;
  margin-bottom: 10px;
  white-space:nowrap;
}

.gallery-image {
  height: auto;
  max-width: 400px;
  margin: 0 auto;
}

div.gadget {
  color: black;
 background-color: white;
}

body { padding-top: 70px; margin-bottom: 60px;}

body {
    -webkit-animation-delay: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes fontfix {
    from { opacity: 1; }
    to   { opacity: 1; }
}

td.frontend {
  text-align: center;
  color: #000000;
}

div.irc_window {
    overflow: auto
}

div.slack_signup_container {
    text-align: center;
    padding-top: 50px
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

@media screen and (min-width: 1024px) { 
  .yt_nopadding {
    padding: 0px;
  }
}

code.yt_example {
  height: 400px;
}

.glyph_container {
  position: relative;
  z-index: 100;
  height: 400px;
}

.arrow_glyph {
  position: absolute;
  z-index: 100;
  top: 0px;
  left: 0px;
  text-align: right;
  width: 100%;
  height: 100%;
}

.arrow_glyph > span {
  left: 10px;
  top: 50%;
  font-size: 200%;
}

.arrow_glyph_down {
  position: absolute;
  z-index: 100;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.arrow_glyph_down > span {
  left: 50%;
  top: 95%;
  font-size: 200%;
}

.glyph_container_button {
  position: relative;
  height: 100%;
}

.glyph_button {
 position: absolute;
 vertical-align: center;
 top: 20%;
 left: 5%;
 font-size: 200%;
 color: #ffffff;
}

.row_anchor {
 padding-top: 40px;
 margin-top: -40px;
}

p.feature {
  font-size: 125%;
}
