version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.7
        environment:
           TZ: "America/Chicago"
    steps:
      - checkout
      - restore_cache:
          key: deps1-{{ .Branch }}-{{ checksum "requirements.txt" }}
      - run:
          name: Install Python deps in a venv
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt
      - save_cache:
          key: deps1-{{ .Branch }}-{{ checksum "requirements.txt" }}
          paths:
            - "venv"
      - run:
          command: |
            . venv/bin/activate
            python generate.py
      - run: sudo apt-get install -qyy rsync
      - run:
          command: |
            mkdir -p /tmp/generated_website
            rsync -au \
              --exclude=.git* \
              --exclude=generate.py \
              --exclude=templates \
              --exclude requirements.txt \
              --exclude=*.yaml \
              --exclude=venv \
              --exclude=.circleci \
              --exclude=Dockerfile \
              . /tmp/generated_website/
      - store_artifacts:
          path: /tmp/generated_website
      - add_ssh_keys:
          fingerprints:
            - "d2:b4:cd:6e:b3:5d:0e:b0:44:7c:12:59:62:ae:37:d8"
      - run: echo $REMOTE_HOSTKEY >> ~/.ssh/known_hosts
      - run:
          name: Deploy to Dreamhost
          command: |
            if [ "${CIRCLE_BRANCH}" == "main" ]; then
              rsync -avc /tmp/generated_website/ yt_analysis@yt-project.org:yt-project.org/
            else
              echo "Not main branch, dry run only"
            fi
