{% extends "base.html" %}
{% block modals %}
{% endblock modals %}
{% block customjs %}
<script type="text/javascript">
  $("#slackSign").click(function(event) {
    $.ajax({
      type: "GET",
      url: "https://use.yt/slack_signup",
      success: function(data, status) {
        window.location.href = JSON.parse(data).url;
      },
      error: function (xhr, ajaxOptions, thrownError) {
        alert("Something went wrong, please let us know on yt-users mailing list!");
      }
    });
    event.preventDefault();
  });
</script>
{% endblock customjs %}
