{% extends "base_withsignup.html" %}
{% block content %}
    <div class="container">

      <div class="row yt-package">
        <div class="col-md-7">
          <h1>Why Community?</h1>
          <p class="lead">
            The yt project views community engagement, community involvement
            and community growth as absolutely essential to the health and
            success of a scientific software project.  We have
            <a href="http://arxiv.org/abs/1301.7064">deliberately worked</a>
            to grow a helpful, sustainable community of peers and contributors.
          </p>
          <p class="lead">
            There are many ways to find information, ask for assistance,
            contribute code or scripts, or even just meet people involved with
            the project.
          </p>
        </div>
        <div class="col-md-5">
          <img src="img/workshop_300px.jpg" class="pull-right img-rounded">
        </div>
      </div>

      <div class="row yt-package">
        <div class="col-md-5">
          <img src="img/ml_screenshot.jpg" class="pull-left img-rounded">
        </div>
        <div class="col-md-7">
          <h1>Mailing Lists and Bug Reports</h1>
          <p>
            There are three primary mailing lists for yt, each of which caters
            to a different area of interest.  These are probably the single best
            way to get help with someone, to suggest a feature, or to discuss
            anything with other yt users.
          </p>
          <p>
            <ul>
              <li><a href="https://mail.python.org/mm3/mailman3/lists/yt-users.python.org/">yt-users</a>
              for usage help, questions and answers, and general discussion.</li>
              <li><a href="https://mail.python.org/mm3/mailman3/lists/yt-dev.python.org/">yt-dev</a>
                for development-related discussions.</li>
            </ul>
          </p>
          <p>
            yt also has a bug tracker which you can
            <a href="https://github.com/yt-project/yt/issues/">browse</a> or
            <a href="https://github.com/yt-project/yt/issues/new">create</a>
            new issues inside.  This is a good way to report a problem that is
            definitely a problem with yt, so that it doesn't get lost and will
            be addressed.
          </p>
        </div>
      </div>
      <div class="row yt-package">
        <div class="col-md-7">
          <h1>Chatting on IRC and Slack</h1>
          <p>
            On <a href="http://freenode.org/">FreeNode</a> there is a channel
            called <span class="code">#yt</span> for chatting with other yt
            users.  You can join IRC using Adium, IRSSI, X-chat or any other IRC
            client by connecting to <span class="code">chat.freenode.org</a>.
            Feel free to stop by, say hello, or ask questions -- you don't need
            to have a problem with yt to come by and chat!
          </p>
          <p>
            In case you don't have an IRC client, we also have a 
            <a href="http://yt-project.org/irc.html">web client</a>
            that will connect you directly to our channel.
          </p>
          <p id="slack">
            We also hang out and chat about development on <a href="https://yt-project.slack.com">slack</a>. 
            If you would like to join us, please send us your name and email to get an 
            invitation using the button on the right.
          </p>
          <p>
            If nobody answers your question right away, it might just mean that
            nobody is around right then.  Usually the channel is the busiest
            during the day, US time.  Go ahead and ask, and when somebody sees
            and is able to answer, they probably will!
          </p>
        </div>
        <div class="col-md-5">
          <div class="irc_window">
            <img src="img/irc_screenshot.jpg" class="pull-right img-rounded">
          </div>
            <div class="slack_signup_container">
              <button type="button" class="btn btn btn-large btn-primary" id="slack">Join us @ Slack!</button>
            </div>
        </div>
      </div>

      <div class="row yt-package">
        <div class="col-md-5">
          <img src="img/hub_screenshot.jpg" class="pull-left img-rounded">
        </div>
        <div class="col-md-7">
          <h1>Sharing Scripts, Projects and Notebooks</h1>
          <p>
            The <a href="https://hub.yt/">yt Data Hub</a> is
            designed to be a place to facilitate easy sharing of data, projects
            of interest to others, as well as
            <a href="http://jupyter.org/">Jupyter Notebooks</a>.  For very
            short form items, we also provide a
            <a href="http://paste.yt-project.org/">pastebin</a>.
          </p>
        </div>
      </div>

      <div class="row yt-package">
        <div class="col-md-7">
          <h1>Social Networking</h1>
          <p>
            yt has a presence on <a href="http://twitter.com/yt_astro">twitter</a>,
            where occasional updates are posted.  Other places for short-form
            updates include the
            <a href="https://www.facebook.com/ytproject">facebook page</a>,
            and the
            <a href="https://plus.google.com/107728486871834552760">Google+ page</a>, where occasionally 
            hangouts, videos and live office hours are held.
          </p>
          <p>
            yt also has a <a href="http://blog.yt-project.org/">blog</a>, where longer-form
            content can be found.  The blog itself is open for submissions -- all
            you have to do is visit the
            <a href="https://github.com/yt-project/blog">blog repository</a>,
            fork, and issue a pull request!  We'd love to have your submissions
            of papers you've recently published with yt, interesting tips and
            tricks, or anything else that others might be interested in.
          </p>
        </div>
        <div class="col-md-5">
          <p>
            <div class="g-page" data-width="302" data-href="https://plus.google.com/107728486871834552760" data-theme="dark" data-layout="landscape" data-rel="publisher">
            <script type="text/javascript">
            (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
            </script>
            </div>
          </p>
          <p>
            <a href="https://twitter.com/yt_astro" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow @yt_astro</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          </p>
          <p>
            <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fytproject&amp;width=450&amp;height=80&amp;colorscheme=dark&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;send=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>
          </p>
        </div>
      </div>

      <a name="codeofconduct"></a>
      <div class="row yt-package">
        <div class="col-md-offset-2 col-md-8">
          <h1>yt Community Code of Conduct</h1>
          <p>The community of participants in open source
          Scientific projects is made up of members from around the
          globe with a diverse set of skills, personalities, and
          experiences. It is through these differences that our
          community experiences success and continued growth. We
          expect everyone in our community to follow these guidelines
          when interacting with others both inside and outside of our
          community. Our goal is to keep ours a positive, inclusive,
          successful, and growing community.</p>
          <p>As members of the community,
            <ul>
              <li>We pledge to treat all people with respect and
                provide a harassment- and bullying-free environment,
                regardless of sex, sexual orientation and/or gender
                identity, disability, physical appearance, body size,
                race, nationality, ethnicity, and religion. In
                particular, sexual language and imagery, sexist,
                racist, or otherwise exclusionary jokes are not
                appropriate.</li>

              <li>We pledge to respect the work of others by
                recognizing acknowledgment/citation requests of
                original authors. As authors, we pledge to be explicit
                about how we want our own work to be cited or
                acknowledged.</li>

              <li>We pledge to welcome those interested in joining the
                community, and realize that including people with a
                variety of opinions and backgrounds will only serve to
                enrich our community. In particular, discussions
                relating to pros/cons of various technologies,
                programming languages, and so on are welcome, but
                these should be done with respect, taking proactive
                measure to ensure that all participants are heard and
                feel confident that they can freely express their
                opinions.</li>

              <li>We pledge to welcome questions and answer them
                respectfully, paying particular attention to those new
                to the community. We pledge to provide respectful
                criticisms and feedback in forums, especially in
                discussion threads resulting from code
                contributions.</li>

              <li>We pledge to be conscientious of the perceptions of
                the wider community and to respond to criticism
                respectfully. We will strive to model behaviors that
                encourage productive debate and disagreement, both
                within our community and where we are criticized. We
                will treat those outside our community with the same
                respect as people within our community.</li>

              <li>We pledge to help the entire community follow the
              code of conduct, and to not remain silent when we see
              violations of the code of conduct. We will take action
              when members of our community violate this code such as
              contacting confidential@yt-project.org (all emails sent to
              this address will be treated with the strictest
              confidence) or talking privately with the person.</li>
            </ul>
          </p>

          <p>This code of conduct applies to all
          community situations online and offline, including mailing
          lists, forums, social media, conferences, meetings,
          associated social events, and one-to-one interactions.</p>

          <p>The yt Community Code of Conduct was adapted
            from the 
            <a href="http://www.astropy.org/about.html#codeofconduct">
              Astropy Community Code of Conduct</a>, which was
              partially inspired by the PSF code of conduct.</p>
        </div>
      </div>

      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
      </footer>

    </div><!-- /.container -->
{% endblock content %}
