{% extends "base.html" %}
{% block content %}
    <div class="container">

      <div class="row yt-package">
        <div class="col-lg-offset-2 col-lg-8">
          <h1>yt Extensions</h1>
          <p class="lead">
            Below are some extensions to yt.  These build on yt to develop
            analysis or visualization pipelines, or contain components that are
            otherwise out of scope for the core yt package.  yt comes with a
            set of analysis modules, but the extensions listed below are
            externally developed and maintained.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <table class="table table-bordered">
            <caption>Extension Packages</caption>
          {% for ext in extensions %}
            <tr>
              <td class="col-lg-4">
                {%if 'image' in ext%}
                  <img class="img-responsive" src="{{url_prefix}}/img/extensions/{{ext['image']}}"/>
                {%endif%}
              </td>
              <td class="col-lg-8">
                <h3>{{ext['name']}}</h3>
                <p>{{ext['description']}}</p>
                <ul class="list-unstyled">
                  <li><em>URL: </em>
                    <a href="{{ext['url']}}">{{ext['url']}}</a></li>
                  <li><em>Import as: </em>
                    <code>{{ext['import_as']}}</code></li>
                  <li><em>Contact:</em>
                    {{ext['contact']}}
                </ul>
              </td>
            </tr>
          {% endfor %}
          </table>
        </div>
      </div>
    </div><!-- /.container -->

  
{% endblock content %}
