{% extends "base.html" %}
{% block content %}

    <!-- Carousel
    ================================================== -->
    <div class="container marketing">
      <div class="row">
        <div class="col-lg-3">
          <object class="img-responsive" data="img/yt_logo.svg" type="image/svg+xml">
              <img class="img-responsive" src="img/yt_logo.png" />
          </object>
        </div>
        <div class="col-lg-7">
          <p class="lead">yt is an open-source, permissively-licensed python
          package for analyzing and visualizing volumetric data.</p>
          <p>yt supports structured, variable-resolution meshes
          unstructured meshes, and discrete or sampled data such as particles.
          Focused on driving physically-meaningful inquiry, yt has been
          applied in domains such as astrophysics, seismology, nuclear
          engineering, molecular dynamics, and oceanography.  Composed of a
          friendly community of users and developers, we want to make it easy
          to use and develop &mdash; we'd love it if you got involved!</p>
        </div>
        <div class="col-lg-2">
          <div class="glyph_container_button">
            <a class="btn btn-lg btn-info btn-block" href="#getyt">
                <span class="glyph_button glyphicon glyphicon-download"
                  aria-hidden="true"></span>&nbsp;&nbsp;Get yt!</a><br/>
          </div>
          <div class="glyph_container_button">
            <a class="btn btn-lg btn-success btn-block" href="https://use.yt/">
                <span class="glyph_button glyphicon glyphicon-play-circle"
                  aria-hidden="true"></span>&nbsp;&nbsp;Try yt!</a><br/>
          </div>
        </div>
      </div>

      <!-- START THE FEATURETTES -->

    <div class="row">

      <! -- Examples -->
      <ul class="nav nav-tabs" role="tablist">
        {% for category in examples %}
        {% if loop.first %} {% set first_time = True %} {% endif %}
        <li class="dropdown{% if loop.first %} active{%endif%}">
          <a class="dropdown-toggle" data-toggle="dropdown"
                                     href="#">{{category['category']}}<span class="caret"></span></a>
          <ul class="dropdown-menu">
          {% for example in category['entries'] %}
          <li role="presentation" {% if first_time and loop.first %}class="active"{%endif%}>
            <a href="#{{example['id']}}" aria-controls="{{example['id']}}" role="tab" data-toggle="tab">
            {{example['name']}}</a>
            </li>
          {% endfor %}
          {% set first_time = False %}
          </ul>
        </li>
        {% endfor %}
      </ul>

      <!-- Tab panes -->
      <div class="yt_example tab-content">
        {% for category in examples %}
        {% if loop.first %} {% set first_time = True %} {% endif %}
        {% for example in category['entries'] %}
        <div role="tabpanel" class="tab-pane{% if first_time and loop.first %} active{%endif%}" id="{{example['id']}}">
          <div class="row">
          <div class="col-lg-8 yt_nopadding">
            <pre class="yt_example"><code class="yt_example language-python">{{-example['content']-}}</code></pre>
              <div class="hidden-xs hidden-sm hidden-md arrow_glyph">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
              </div>
              <div class="visible-xs visible-sm arrow_glyph_down">
                <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
              </div>
          </div>
          <div class="col-lg-4 yt_nopadding">
            {% if 'image' in example %}
            <a href="{{url_prefix}}/img/{{example['image']}}" target="_blank">
              <img border=0 class="img-responsive yt_ex_image" src="{{url_prefix}}/img/{{example['image']}}">
            </a>
            {% elif 'output' in example %}
            <pre><code class="img-responsive yt_example language-python">{{-example['output']-}}

            </code></pre>
            {% endif %}
          </div>
          </div>
        </div>
        {% endfor %}
        {% set first_time = False %}
        {% endfor %}
      </div>

    </div>

      <hr class="featurette-divider">

      <div class="row featurette" id="learn">
        <div class="col-md-7">
          <h2 class="featurette-heading">Learn:
              <span class="text-muted"> getting started.</span></h2>
          <p>
            To get started using yt to explore data, we provide resources
            including <a href="http://yt-project.org/doc/">documentation</a>,
            <a href="http://yt-project.org/workshop2012/">workshop material</a>,
            and even a fully-executable
            <a href="http://yt-project.org/doc/quickstart/index.html">quick start guide</a>
            demonstrating many of yt's capabilities.
          </p>

          <p>
            But if you just want to dive in and start using yt, we have a long
            list of
            <a href="http://yt-project.org/doc/cookbook/index.html">recipes</a>
            demonstrating how to do various tasks in yt.  We even have 
            <a href="http://yt-project.org/data">sample datasets</a> from all 
            of our supported codes on which you can test these recipes.
            While yt should just <b>work</b> with your data, here are some 
            <a href="http://yt-project.org/doc/examining/index.html">instructions</a>
            on loading in datasets from our supported codes and formats.
          </p>
        <p><a class="btn btn-llg btn-primary yt-btn" href="http://yt-project.org/doc/quickstart/index.html">Get Started</a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-rounded img-responsive" src="img/analysis.jpg" alt="Dev workshop 2013">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette" id="community">
        <div class="col-md-5">
          <img class="featurette-image img-rounded img-responsive" src="img/workshop_montage.jpg" alt="Workshop Images">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Community:
              <span class="text-muted">yt's best feature.</span></h2></a>
          <p>
            yt is a friendly community.  We like hearing about fun things you
            have done with the code, and we're happy to help you out if you
            have a question or some trouble.  You can join us in IRC, on the
            mailing lists, and if you'd like, you can check out how to
            <a href="#development"> develop, too</a>.
          </p>
          <p>
            If you've got some code to share, or scripts that you'd like to
            share, start up a repo on <a href="http://bitbucket.org/">BitBucket
            </a> or share them on our <a href="http://paste.yt-project.org/">
            pastebin</a>.  
            If you have any trouble, drop by the
            <a href="http://lists.spacepope.org/listinfo.cgi/yt-users-spacepope.org">mailing list</a>
            and we'll be happy to help out.
        <p><a class="pull-right btn btn-llg btn-primary" href="community.html">Join the Community</a></p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette" id="development">
        <div class="col-md-7">
          <h2 class="featurette-heading">Participatory
              <span class="text-muted"> development.</span></h2></a>
          <p>
            If you're interested in getting started with helping out, the
            easiest way is to <a
            href="http://bitbucket.org/yt_analysis/yt/fork">Fork us
            on BitBucket</a>, check out the <a
            href="http://yt-project.org/doc/developing/index.html">
            developer guide</a>, and stop by the <a
            href="http://lists.spacepope.org/listinfo.cgi/yt-dev-spacepope.org">
            development mailing list</a>.  yt is released under the 
            modified BSD License.
          </p>
          <p>
            There are lots of <a
            href="http://yt-project.org/doc/developing/intro.html#technical-contributions">
            fun projects to work on</a>, along with some <a
            href="http://bitbucket.org/yt_analysis/yt/issues?status=new&status=open">open
            issues</a>, and we'd particularly like if you'd help out by <a
            href="http://yt-project.org/doc/developing/creating_frontend.html">adding
            a new code</a> or if you'd like to help out by shoring up support in
            <a href="http://yt-project.org/doc/reference/code_support.html">
            semi-supported code</a>.
          </p>
          <p><a class="pull-left btn btn-llg btn-primary" href="development.html">Develop!</a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-rounded img-responsive" src="img/notebook4.jpg" alt="Notebook KH">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

      <a name="getyt"></a><div class="row" style="padding-top: 40px; margin-top: -40px;">
        <div class="col-md-5">
          <h1>Get yt:<span class="text-muted"> all-in-one script.</h1>
          <p class="lead">
            yt is built on a stack of completely <a
            href="http://www.fsf.org/working-together/">free and libre open source
            software</a>, with <b>no</b> proprietary dependencies. It provides its
            own install script, to assist with constructing an isolated
            environment that can be upgraded and operated independently of the
            host operating system.
          </p>
          <p class="lead">
            Usually getting yt is as simple as running the installation script.
            Simply download the install script and run it.  You can do this 
            using <span
              class="yt_code">wget</span> or <span class="yt_code">curl</span>,
            or even just right click and choose <b>Save As</b>.  Carefully read
            the instructions the script prints to your terminal since there
            might be special instructions for your operating system.
          </p>

          <p class="text-center">
            <a style="margin-bottom:5px; width:200px;" class="btn btn-llg btn-warning" href="http://bitbucket.org/yt_analysis/yt/raw/yt/doc/install_script.sh">Download</a><br/>
          </p>

          <p class="lead" style="margin-top:20px;">Once you've downloaded it, just run:</p>
          <div class="yt_code">
            $ bash install_script.sh<br/>
            $ export PATH=/path/to/YT_DEST/bin:$PATH
          </div>
          <p class="lead">where YT_DEST will be the folder created by the install script containing a yt installation  (usually <span class="yt_code">yt-conda</span>).</p>
        </div>
        <div class="col-md-offset-1 col-md-6">
          <h1>Get yt:<span class="text-muted"> using conda.</h1>
          <p class="lead">
            If you use
            the <a href="https://store.continuum.io/cshop/anaconda/">anaconda
            python distribution</a> or use
            <span class="yt_code"><a href="https://pypi.python.org/pypi/conda">conda</a></span>
            to manage python packages, you can install the latest stable version
            of yt with the following command:
            <div class="yt_code">
              $ conda install -c conda-forge yt
            </div>
          </p>
          <p class="lead">
            Or a nightly development build:
            <div class="yt_code">
              $ conda install -c http://use.yt/with_conda yt
            </div>
          </p>
          <h1>Get yt:<span class="text-muted"> from source.</h1>
          <p class="lead">
            If you are comfortable installing Python packages and have a
            build environment set up, you can install yt via
            <span class="yt_code">pip</span>:
            <div class="yt_code">
              $ pip install yt
            </div>
          </p>
          <p class="lead">
            If you would like to install the development version of yt, first
            clone the repository: 
          </p>
          <div class="yt_code">
            $ hg clone https://bitbucket.org/yt_analysis/yt
          </div>
          <p class="lead">
            And run the following command in the root source directory:
          </p>
          <div class="yt_code">
            $ hg update yt
          </div>
          <p class="lead">
            Then do the following:
          </p>
          <div class="yt_code">
            $ python setup.py develop
          </div>
        </div>
      </div>


    </div><!-- /.container -->
{% endblock content %}
{% block footer %}
      <!-- FOOTER -->
      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-2">
              <a href="http://www.nsf.gov/"><img src="img/nsf1.gif"
                                                 width="150 px"
                                                 alt="nsf logo"></a>
            </div>
            <div class="col-lg-2">
              <a href="https://moore.org/"><img
                 src="img/moore-logo.png" width="150 px" alt="GBMF logo"></a>
            </div>
            <div class="col-lg-2">
              <a href="http://www.numfocus.org">
                <img width="150 px" src="img/numfocus-fsa.png" alt="yt is a NumFOCUS fiscally sponsored project">
              </a>
            </div>
            <div class="col-lg-6">
              <small><p>
              yt has benefited from work supported by the National Science
              Foundation under Grant No.
              <a
                href="http://www.nsf.gov/awardsearch/showAward?AWD_ID=1535651">1535651</a>
              (<a
                href="https://figshare.com/articles/SI2_SSE_yt_Reusable_Components_for_Simulating_Analyzing_and_Visualizing_Astrophysical_Systems/909413">proposal</a>).
              It has also benefited from work supported by the Gordon and Betty
              Moore Foundation's Data-Driven Discovery Initiative through Grant
              GBMF4561 to Matthew Turk.</p>
              <p>yt is a fiscally-sponsored project of <a
                href="http://numfocus.org/">NumFOCUS</a>.
              </p></small>
            </div>
          </div>
        </div>
      </footer>
      <script type="text/javascript">
        sc_project=3616111;
        sc_invisible=1;
        sc_partition=41;
        sc_security="3865f346";
      </script>
      <script type="text/javascript" src="http://www.statcounter.com/counter/counter.js"></script>
{% endblock footer %}
{% block customjs %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/atom-one-light.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();
</script>
{% endblock customjs %}
