{% extends "base_withsignup.html" %}
{% block content %}
    <div class="container">
      <div class="row yt-package">
        <h1>Join yt Project on Slack.</h1>
        <form role="form" data-async data-target="#myModal" id="signupForm">
          <div class="form-group">
            <label for="email">Your Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="name">Your Name:</label>
            <input type="text" class="form-control" id="name" placeholder="Enter your name">
          </div>
          <div id="success"> </div> <!-- For success/fail messages -->
          <input type="submit" value="Sign up" class="btn btn-info btn-block">
        </form>
      </div>
    </div><!-- /.container -->
{% endblock content %}
