{% extends "base.html" %}
{% block content %}
    <div class="container">

      <div class="row yt-package">
        <div class="col-md-offset-2 col-md-8">
            <span class="btn btn-lg btn-warning btn-block">This page will be
              updated with more information as the date approaches.</span>
        </div>
      </div>
      <div class="row yt-package">
        <div class="col-md-offset-2 col-md-8">
          <h1>Development Workshop - Spring 2019</h1>
          <p class="lead">
            A development-focused workshop for yt will be held
            March 4-6 at the University of Illinois at Urbana-Champaign.
          </p>
          <p class="lead">
            This workshop will focus on a handful of new and emerging features,
            but will also serve as an opportunity for folks new to developing
            yt, or who just want to start getting involved, to meet other
            developers and build out their technical understanding of yt.
          </p>
          <p class="lead">
            Funding will be available to some attendees.  We aim to make this
            conference inclusive to existing and new developers, and remind
            attendees that it is covered by the <a href="/community.html">yt
              code of conduct</a>.
          </p>
          <div class="glyph_container_button">
            <a class="btn btn-lg btn-success btn-block"
               href="https://docs.google.com/forms/d/e/1FAIpQLSfv0CKefZV6TTqPbl46EdgP3eeYgY82ABLi94-gv4q8G7SFTQ/viewform?usp=sf_link">
              Register Now</a>
          </div>
        </div>
      </div>

      <div class="row yt-package">
        <h2>Accommodations</h2>
        <p class="lead">A block of rooms has been reserved at the Hampton Inn on University
        Avenue in Urbana.  We encourage you to stay there, as it is within
        walking distance to NCSA and a short distance from both downtown
        Champaign and "Campustown" in Champaign.  Reservations at a secured
        rate of $99/night can be made <a href="http://group.hamptoninn.com/YT-Workshop">at this link</a>.
        </p>
      </div>

      <div class="row yt-package">
        <h2>Topics</h2>
        <p class="lead">
        This workshop will not be prescriptive in nature -- we invite attendees
        to develop ideas, topics and collaborations!  A few topics that might
        be of interest include developing new frontends for data ingestion,
        developing optimizations for existing data processing or IO routines,
        building out additional visualization techniques, integrating with
        external packages (such as bqplot, ipywidgets, glue, etc) and
        domain-specific routines for analysis.
        </p>
      </div>

      <div class="row yt-package">
        <h2>Schedule</h2>
        <p class="lead">We anticipate attendees will travel on Sunday, March
        3rd, and depart the afternoon or evening of March 6th.
        <h3>Monday, March 4th (Full day)</h3>
        <p class="lead">Introduction to developing yt, with resources on using Git,
        Github, Python, Cython, and an in-depth walkthrough of adding a new
        frontend and extending existing data objects.  During this day we
        will also brainstorm topics that we will work on during the rest of
        the workshop and organize mini-sprints.</p>
        <h3>Tuesday, March 5th (Full day)</h3>
        <p class="lead">We anticipate this day will include sprints on the mini-topics,
        but also continue to develop on ideas built during the first day.  We
        anticipate there being room for substantial visualization-specific
        work.</p>
        <h3>Wednesday, March 6th (Half or full day)</h3>
        <p class="lead">We'll start with an opportunity to finalize projects and then
        have an around-the-room update session.</p>

        <p class="lead">Social gatherings will be organized during the
        evenings.</p>
      </div>

      <div class="row yt-package">
        <div class="col-md-offset-2 col-md-8">
          <div class="glyph_container_button">
            <a class="btn btn-lg btn-success btn-block"
               href="https://docs.google.com/forms/d/e/1FAIpQLSfv0CKefZV6TTqPbl46EdgP3eeYgY82ABLi94-gv4q8G7SFTQ/viewform?usp=sf_link">
              Register Now</a>
          </div>
        </div>
      </div>

    </div>
{% endblock content %}
